# on boot setup ip tables rules

service restrict-settings /system/bin/logwrapper /system/etc/restrict_settings.sh
    class main
    user root
    group root
    oneshot
    seclabel u:r:su:s0

service force-private-dns /system/bin/logwrapper /system/etc/force_private_dns.sh
    class main
    user root
    group root
    oneshot
    seclabel u:r:su:s0

on property:init.svc.bootanim=stopped
    start restrict-settings
    start force-private-dns